<%
/*********************************************************************************** *
 * MIT License
 *
 * Copyright (c) 2017 Raphael "rGunti" Guntersweiler
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * ********************************************************************************* */

function getNavItemActiveCss(currentPage, requiredPage) {
    if (currentPage == requiredPage) {
        return 'class=active';
    } else {
        return '';
    }
}
%>
<html>
    <head>
        <title><%= config.title %> &ndash; <%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="apple-touch-icon" href="/public/img/app.png">

        <link rel="stylesheet" href="/public/css/material-design-icons.css" />
        <link rel="stylesheet" href="/public/css/materialize.min.css" />
        <link rel="stylesheet" href="/public/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/public/css/roboto-condensed/index.css">
        <link rel="stylesheet" href="/public/css/style.css" />

        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/materialize.min.js"></script>
        <script src="/public/js/custom/_general.js"></script>
        <script src="/public/js/loading-indicator.js"></script>
        <script src="/public/js/custom.js"></script>
    </head>
    <body>
        <!-- NAV -->
        <div id="top" class="navbar-fixed">
            <nav class="indigo darken-4 white-text" role="navigation">
                <div class="nav-wrapper container">
                    <a href="#top" class="brand-logo hide-on-large-only">
                        <%= title %>
                    </a>
                    <a href="#top" class="brand-logo hide-on-med-and-down">
                        <%= title %>
                        <small class="condensed">&ndash; <%= config.title %></small>
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/"><i class="material-icons left">play_circle_outline</i></a></li>
                        <li><a href="/queue"><i class="material-icons left">queue_music</i></a></li>
                        <li><a href="/library"><i class="material-icons left">library_music</i></a></li>
                        <li><a href="/library/search"><i class="material-icons left">search</i></a></li>
                        <li><a href="/playlists"><i class="material-icons left">playlist_add</i></a></li>
                        <li><a href="/settings"><i class="material-icons left">settings</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Mobile Nav -->
        <ul class="side-nav" id="mobile-demo">
            <li><div class="user-view">
                <div class="background indigo darken-3">
                </div>
                <a href="/about"><img class="circle" src="/public/img/app.png"></a>
                <a href="/about"><span class="white-text name"><%= config.title %></span></a>
                <a href="/about"><span class="white-text email">
                    Ver. <%= packageInfo.version %>
                </span></a>
            </div></li>

            <li><a href="/">
                <i class="material-icons left">play_circle_outline</i>
                Now playing
            </a></li>
            <li><a href="/queue">
                <i class="material-icons left">queue_music</i>
                Queue
            </a></li>
            <li><a href="/library">
                <i class="material-icons">library_music</i>
                Library
            </a></li>
            <li><a href="/library/search">
                <i class="material-icons">search</i>
                Search
            </a></li>
            <li><a href="/playlists">
                <i class="material-icons">playlist_add</i>
                Playlists
            </a></li>

            <li><div class="divider"></div></li>

            <li><a class="subheader">Settings</a></li>
            <li><a href="/settings">
                <i class="material-icons">settings</i>
                Settings
            </a></li>

            <li><div class="divider"></div></li>

            <li><a class="subheader">Credits</a></li>
            <li><a href="/license">License</a></li>
            <li><a class="subheader side-nav-text">
                App icon by icons8.com<br>
                UI Icons by FontAwesome<br>
                Made with <b>Materialize</b>
            </a></li>
        </ul>

        <div class="container">
            <%- include('../' + page, { title: title, page: page, config: config, data: data }) %>
        </div>

        <% additionalIncludes.forEach(function(includeItem){ %>
        <%- include('../' + includeItem, { config: config, packageInfo: packageInfo }) %>
        <% }) %>

        <%- include('footer', {  }) %>
    </body>
</html>
