<%
/*********************************************************************************** *
 * MIT License
 *
 * Copyright (c) 2017 Raphael "rGunti" Guntersweiler
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 * ********************************************************************************* */

function getNavItemActiveCss(currentPage, requiredPage) {
    if (currentPage == requiredPage) {
        return 'class=active';
    } else {
        return '';
    }
}
%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= config.title %> &ndash; <%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="apple-touch-icon" href="/img/unknown-album.png">

        <link rel="stylesheet" href="/css/font-roboto.css" />
        <link rel="stylesheet" href="/css/iconfont/material-icons.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/material-kit.css" />
        <link rel="stylesheet" href="/css/datatables.min.css" />
        <link rel="stylesheet" href="/css/custom.css" />

        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/material.min.js"></script>
        <script src="/js/material-kit.js"></script>
        <script src="/js/datatables.min.js"></script>
        <script src="/js/jquery.toaster.js"></script>
        <script src="/js/bootstrap3-typeahead.min.js"></script>
        <script src="/js/custom/_general.js"></script>
    </head>
    <body>
        <!-- NAV -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar-collapse"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <b><%= title %></b>
                        &ndash;
                        <span class="font-condensed">
                            <%= config.title %>
                        </span>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li <%= getNavItemActiveCss(page, 'home') %>>
                            <a href="/">
                                <i class="material-icons">play_circle_outline</i>
                                Now Playing
                            </a>
                        </li>
                        <li <%= getNavItemActiveCss(page, 'queue') %>>
                            <a href="/queue">
                                <i class="material-icons">queue_music</i>
                                Queue
                            </a>
                        </li>
                        <li <%= getNavItemActiveCss(page, 'library') %>>
                            <a href="/library">
                                <i class="material-icons">library_music</i>
                                Show Library
                            </a>
                        </li>
                        <li <%= getNavItemActiveCss(page, 'lib_search') %>>
                            <a href="/library/search">
                                <i class="material-icons">search</i>
                                Search
                            </a>
                        </li>
                        <li <%= getNavItemActiveCss(page, 'playlists') %>>
                            <a href="/playlists">
                                <i class="material-icons">playlist_add</i>
                                Playlists
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li <%= getNavItemActiveCss(page, 'settings') %>>
                            <a href="/settings">
                                <i class="material-icons">settings</i>
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="main main-raised">
            <%- include('../' + page, { title: title, page: page, config: config, data: data }) %>
        </div>

        <% additionalIncludes.forEach(function(includeItem){ %>
        <%- include('../' + includeItem, { config: config }) %>
        <% }) %>

        <%- include('footer') %>
    </body>
</html>
